/* Denna fil skall innehålla din CSS kod */

body {
    height: 200vh;
    width: 100vw;
    margin: 0;
}


#wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "hd hd" 
                         "se se"
                         "fo fo" ;
    grid-template-rows: 15% 60% 25%;
    grid-template-columns: 80% 20%;
}

header {
    background-color: black;
    width: 100vw;
   
}

header h1 {
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-size: 3.5rem;
}



nav {
    /* display: flex; */
    
    /* justify-content: space-between; */
    font-size: rem;
grid-area: nv;
/* background-color: black; */

}



nav ul {
    display: flex;
    justify-content: space-evenly;
    
}

nav ul li {
list-style-position:unset;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 3rem;
    color: blueviolet;
    
}




#hem {
    display: flex;
    align-items: end;
}

#vart {
    display: flex;
    align-items: center;
}

#verk {
    display: flex;
    align-items: center;
}

#wiki {
    display: flex;
    align-items: center;
}



article {
    min-width: 40vw;
    min-height: 60vh;
    height: 70vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: aqua;

}



section{
    grid-area: se;
    
    display: flex;
    justify-content: center;
    align-items: center;

background-color: brown;
width:100% ;
height: 100%;
background-image: url("/img/test_bild.jpg");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
overflow: hidden;
}

footer {
grid-area: fo;
background-color: gold;
}

@media screen and (max-width: 600px){

nav {
    background-color: black;
    max-height: 0px;
    overflow: hidden;
    /* position: relative; */
    /* font-size: 1.7rem; */
    /* display: flex;
    justify-content: space-around; */
    /* align-items: s; */
    
    
}

nav a {
    /* margin-left: 2.5vw; */
    /* margin-bottom: 5vh; */
    margin-right: 3vw;
    display: flex;
    justify-content: start;
    
    /* align-items: ; */
}

nav h1 {
    font-size: 0px;
}


nav ul li a {
    
    font-size: 2rem;
}



article {
    height: vh;
    width: 80vw;
}

#wrapper {
    grid-template-areas: "hd hd"
                          "se se"
                        "fo fo"  ;
     grid-template-columns:60% 40% ;
     grid-template-rows: 10% 60% 20%;
}

header {
    position: relative;
    
}

nav.active {
    max-height: 1000px;
    transition: max-heigt 0.5s;
}

#hamburger {
    /* border: 1px solid white; */
    height: 2rem;
    width: 2.8rem;
    position: absolute;
    right: 3rem;
    top: 3.6rem;
}

#hamburger div{
    border: 0.1rem solid white;
    margin: 0.5rem;
}


}